* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}

.header {
	text-align: center;
}

input[type="text"] {
	width: 100%;
	margin: 1px 0 0 20px;
	height: 40px;
	border: 3px solid rgb(85, 85, 126);
	border-radius: 5px;
}

.cont {
	margin: 0 auto;
}
button {
	margin: 0;
	width: 100%;
}

button.btn:hover {
	color: black;
	background-color: rgb(189, 167, 167);
}
.main {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: blue;
	margin: 10px;
	padding: 10px;
	border: 1px solid blueviolet;
	border-radius: 3px;
}
.edt {
	margin-right: 20px;
}

.task-list {
	background-color: white;
	padding: 20px;
}

h2.task-head {
	text-align: center;
	color: blue;
}
