@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.foot {
	background-color: #2d3291;
}
.second {
	display: flex;
	justify-content: center;
}
p.name {
	font-family: "Lobster", cursive;
}
.global-class-name {
	margin: 10px;
}
